<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="On" defaultRedirect="~/assets/errors/notfound.aspx">
      <error statusCode="404" redirect="~/assets/errors/notfound.aspx" />
    </customErrors>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="abrie.netWeb.WCF.DataService">
        <endpoint binding="webHttpBinding" contract="abrie.netWeb.WCF.IDataService" behaviorConfiguration="webHttp" />
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="RavenDB" connectionString="DataDir=~\App_Data\raven.db" />
    <add name="ContentConnectionString" connectionString="Data Source=localhost\sql2008;Initial Catalog=Content;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>